[submodule "vendor/plugins/engines"]
	path = vendor/plugins/engines
	url = git://github.com/lazyatom/engines.git
[submodule "vendor/plugins/substruct"]
	path = vendor/plugins/substruct
	url = http://git.gitorious.org/substruct/mainline.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/attachment_fu_fixtures"]
	path = vendor/plugins/attachment_fu_fixtures
	url = git://github.com/mynyml/attachment_fu_fixtures.git
[submodule "vendor/plugins/active_merchant"]
	path = vendor/plugins/active_merchant
	url = git://github.com/Shopify/active_merchant.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "ar_fixtures"]
	path = ar_fixtures
	url = git://github.com/topfunky/ar_fixtures.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
